.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;

  &-item {
    width: 300px;
    height: 450px;

    padding: 1rem;

    border-radius: 20px;
    background-color: $white-color;
    box-shadow: 10px 10px 20px 0px rgba(245, 245, 245, 0.7),
      -10px -10px 20px 0px rgba(245, 245, 245, 0.7);

    &__img {
      margin: 2rem;
      text-align: center;
    }

    &__price {
      display: flex;

      margin-bottom: 3rem;
    }
  }
}
.discount {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
