// COLOR
$white-color: #ffffff;
$secondary-color: #669966;
$green-color:#046463;
$color-header: #DFDFDF;
$color-gray: #3F3F3F;
$color-light-gray:#999999;
$color-dark-gray:#636363;
$color-red: #E44C50;
$search-color: #F3F3F3;
$search-border-color: #EAEAEA;



// FONT-SIZE
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-33: 33px;

// FONT-WEIGHT
$font-w-400: 400;
$font-w-600: 600;

// FONT-FAMILY
$font-family: 'Open Sans', sans-serif;

