:root{
	--black: #000000; 
  --white: #ffffff; 
  --white-darken: #e6e3e3; 
  --gray: #262e2c; 
  --green-dark: #29463e; 
  --green-darken: #233832; 
  --light-green: #687773; 
  --green: #4ee48c; 
  --red: #eb5555;

}